<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Тестовое задание</title>
    <link rel="stylesheet" type="text/css" href="./style.css" />
  </head>
  <body>
    <div id="app">
      <header :class="showMenu ? 'active' : ''">
        <mbutton text="Каталог товаров" :icon="showMenu" @click="menuToggle">
        </mbutton>
      </header>

      <transition name="menu">
        <smenu :open="showMenu" :prop-items="splitTo(itemList, 3)"></smenu>
      </transition>
    </div>

    <!-- Экспорт vue -->
    <script src="https://unpkg.com/vue@next"></script>
    <!-- Шаблон кнопки-компонента -->
    <script type="text/x-template" id="mbutton">
      <button class="button" :class="icon ? 'active' : ''">
        <span v-show="icon" class="icon">X</span>
        <span v-show="!icon" class="icon">O</span>
        <span class="content">{{text}}</span>
      </button>
    </script>
    <!-- Шаблон меню -->
    <script type="text/x-template" id="menu">
        <div class="menu" v-show="open" key="1">
          <ul class="menu-items" v-for="column in propItems" :key="column">
            <li v-for="item in column" key="item"><a href="/">{{item}}</a></li>
          </ul>
      </div>
    </script>
    <script src="app.js"></script>
  </body>
</html>
