html {
  box-sizing: border-box;
}

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap");

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  /* Gradient Red */
  /* background: linear-gradient(
      255.35deg,
      #dc3131 0.83%,
      rgba(255, 79, 79, 0) 108.93%
    ),
    #ff5e56; */
  height: 100vh;
  padding: 0;
  margin: 0;
  position: relative;
  display: flex;
  font-family: "Montserrat", sans-serif;
}

header {
  padding: 36px 130px;
}

#app {
  /* display: flex; */
  position: relative;
  height: 100%;
  width: 100%;
}

/* Btn */
button {
  background: #0060b7;
  display: block;

  border-radius: 5px;
  border: none;
  padding: 13px 24px;
  cursor: pointer;
  color: #fff;
  font-weight: 500;

  position: relative;
  overflow: hidden;
}

button:hover {
  /* background: #ea0029; */
  background: #1a70bf;
}
button .icon {
  padding-right: 10px;
}

.menu {
  display: flex;
  justify-content: space-between;
  width: 100vw;
  padding: 0 130px;
  position: relative;
  box-shadow: 0px 0px 5px rgba(0, 96, 183, 0.07);
}
.menu .menu-items {
  list-style: none;
  padding: 0;
}
.menu .menu-items li {
  padding: 11px 0;
}
.menu .menu-items a {
  color: #1b1a1d;
  padding: 11px 0;
  text-decoration: none;
}
.menu .menu-items a:hover {
  color: #1a70bf;
  text-decoration: none;
}

.menu-enter-active {
  transition: all 0.4s ease-out;
}

.menu-leave-active {
  transition: all 0.4s ease-out;
}

.menu-enter-from,
.menu-leave-to {
  transform: translateX(-100%);
}
@media screen and (max-width: 1080px) {
  .menu-enter-active,
  .menu-leave-active {
    transition: none;
  }

  header {
    padding: 16px;
  }
  header.active {
    background: #f9fbff;
  }
  header .active.button {
    background: transparent;

    display: flex;
    padding: 0;
    flex-direction: row-reverse;
    justify-content: space-between;
    width: 100%;
    height: 100%;

    font-weight: 600;
    font-size: 22px;
    line-height: 32px;
    color: #1b1a1d;
  }
  .menu {
    background: #f9fbff;
    box-shadow: none;
    padding: 0 16px;

    position: relative;
    flex-direction: column;
  }
  .menu .menu-items {
    margin: 0;
  }
  .menu li {
    border-top: 1px solid #ededed;
  }
  .menu ul:nth-child(1) li:nth-child(1) {
    border-top: none;
  }
}
